html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}


.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.top-logo-left {
    width: 140px;
    height: 120px;
    padding: 10px 20px 0px;
    margin-bottom: 20px;   
}
.menu {
    width: 15%;
    background-color: rgb(180 219 220);
    padding: 10px 20px 0px;
}
.dog-men {
    width: 700px;
    display: block; 
    padding-top: 60px;
    padding-bottom: 30px;
    margin-left: auto; 
    margin-right: auto
}

.frase {
    padding-top: 30px;
    position: absolute;
}

.img-about {
    width: 940px;
}

table {
    box-shadow: 6px 6px 5px 4px rgba(0,0,0,0.24);
    -webkit-box-shadow: 6px 6px 5px 4px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 5px 4px rgba(0,0,0,0.24);
}

.hours {
    margin-top: 30px;
}    
.price {
    margin-top: 20px;
    margin-bottom: 15px;
}

.hours th {
    background-color: black;
    color: white;
}
.price th {
    background-color: black;
    color: white;
}

.hours tr td {
    text-align: center;
    
}
.price tr td {
    text-align: center;
    
}

.hours tr:hover td {
    background-color: lightgrey;
    cursor: pointer;
}
.price tr:hover td {
    background-color: lightgrey;
    cursor: pointer;
}

.menu ul li {
    padding: 0.4rem 0;
    font-size: 18px;
    letter-spacing: 1px;
    display: flex;
    align-items: baseline;
    text-transform:capitalize;
}
.header {
    background-color: rgb(206 221 236);
    min-height: 150px;
    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    background-color: rgb(206 221 236);
}

.content hr {
    margin: 10px;
}

.content h1 {
    text-align: center;
}

.footer {
    background-color: rgb(180 219 220);
    min-height: 150px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.content-contacts {
    background-color: rgb(206 221 236);
    min-height: 300px;
    padding: 20px;
    grid-column: span 2;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    text-align: center;
    
}

.contacts-p {
    border-style: solid;
    border-color:black;
    border-width: 2px;
    margin: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.content-right {
    margin-bottom: 50px;
    text-align: center;
}
.content-left h2 {
    margin-bottom: 10px;
}

.form {
    border-style: dashed;
    border-color:black;
    border-width: 1px;
    padding: 20px;
    margin: 200px;
    margin-top: 10px;
    margin-bottom: 80px;
    border-radius: 20px;
}
.form label {
    display: flex;
    padding-bottom: 10px;
   
}

.form input {
    border-radius: 10px;
    border-width: 0.5px;
    margin-bottom: 5px;
}

